@import "./grids";

section {
    .autos-box {
        padding: 70px 0 50px 0;
        background-color: $grisclaro;
        .texto-autos {
            padding-left: 70px;
            font-size: 1.4rem;
            color: $azuloscuro;
            font-weight: bolder;
        }
    }
}
.container-autos {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .brand-car {
        margin: 10px 25px 10px 25px;
        .img-autos {
            width: 60px;
        }
    }
}
