footer{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    background-color: $grisclaro;
    padding: 10px;
}