* {
  transition: all 0.5s ease;
}
@mixin bgimgtools ($height-imgtools, ) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $height-imgtools;
}
.bg-autos{
  background-image: url(https://res.cloudinary.com/ddvdvvp2v/image/upload/v1690662687/Banner-autos_q37lrj.png);
  @include bgimgtools (500px);
  justify-content: flex-end;
}
.form-autos{
  margin: 30px 150px 0 0;
}
.form-salud{
  margin-left: 230px;
  justify-content: center;
}
#formContainer {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  align-items: center;
}
.div-web {
  display: inline-grid;
}
.form-web {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.form-web .div-web,
.form-web .label-web,
.form-web .input-web,
.form-web .textarea-web {
  width: 100%;
  border: none;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label,
input,
textarea {
  padding: 8px;
}

.label-web,
[placeholder] {
  color: #664e4e;
}

.label-web .i-web {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: $azuloscuro;
  letter-spacing: 2px;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px #555;
  padding: 0.375rem 0.75rem;
}
input:focus,
textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

#button-web {
  background: $azuloscuro;
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}
#button-web:hover {
  letter-spacing: 2px;
  box-shadow: none;
}

