@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}

h2, h1   {
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    color: $azuloscuro;
}
a, p, label{
    font-family: 'Questrial', sans-serif;
}
body {
    background-color: $grisclaro;
}
