@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}

h1   {
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    color: $azuloscuro;
}
h2, a, p, label{
    font-family: inherit;
}
body {
    background-color: $grisclaro;
}
hr{
    margin: 0;
    padding: o;
}
 