@import "./formweb.scss";
main {
    .section1 {
        background-color: $grisclaro;
        .bg {
            margin-top: 60px;
            width: 100%;
            background-image: url("../Recursos/original\ principal.png");
            @include bgimgtools(500px);
            .content {
                display: flex;
                width: 45%;
                height: 100%;
                align-items: center;
                margin-left: auto;
                padding: 20px;
                box-sizing: border-box;
                font-size: 25px;
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 40px;
        padding-bottom: 40px;
        .bg1 {
            background-image: url(https://res.cloudinary.com/ddvdvvp2v/image/upload/v1690663728/paso_1_tnqgl3.jpg);
        }
        .bg2 {
            background-image: url(https://res.cloudinary.com/ddvdvvp2v/image/upload/v1690663735/paso_2_xfbeob.jpg);
        }
        .bg3 {
            background-image: url(https://res.cloudinary.com/ddvdvvp2v/image/upload/v1690663722/paso_3_vvay6q.jpg);
        }
        .bg-image {
            width: 300px;
            height: 260px;
            padding: 20px;
            display: flex;
            align-items: flex-end;
            border-radius: 8px;
            @include bgimgtools(260px);
            box-shadow: 0px 3px 3px $sombras;
            .txt-content {
                background-color: $grisclaro;
                padding: 8px;
                box-shadow: 0px 3px 3px $sombras;
                border-radius: 8px;
                font-size: 14px;
                color: $grisclaro;
                font-weight: bold;
                color: $textgris;
                span {
                    color: $azuloscuro;
                }
            }
        }
    }
    section {
        .video {
            display: flex;
            overflow: hidden;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 40px;
            iframe {
                border-radius: 8px;
            }
        }
    }
}

main {
    .section-self {
        background-color: #ffffff;
        .content-self {
            padding: 20px;
            box-sizing: border-box;
            font-size: 1.2rem;
            /* width: 67%; */
            display: flex;
            align-items: center;
            flex-direction: row;
            min-height: 50vw;
            .foto-gio {
                width: 400px;
            }
            .cont-text {
                margin-left: 20px;
                .second-tittle {
                    color: $azuloscuro;
                }
                .letra-gris {
                    color: $letragris;
                }
                .boton-contacto {
                    background-color: $azuloscuro;
                    border-radius: 20px;
                    width: 155px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        letter-spacing: 1px;
                        transition: all 0.5s;
                    }
                    .letter-boton {
                        color: $grisclaro;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
.section-banner {
    .bg2-img {
        background-image: url(https://res.cloudinary.com/ddvdvvp2v/image/upload/v1690663013/Banner-empresa_m0oyai.png);
        @include bgimgtools(500px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bg2-content {
        color: $grisclaro;
        text-shadow: black 0.2em 0.1em 0.2em;
    }
}
