@mixin mobile{
    @media screen and (max-width: 815px){
        @content
    }
}

main {
        .container {
            @include mobile (){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                .img-empresa {
                    width: 350px;
                    height: 250px;
                    margin: 18px 0px;
                }
    
                .art__video {
                    box-sizing: content-box;
                    width: 330px;
                    margin: 18px;
                }
    
                .art__video__media {
                    width: 400px;
                }
            }
            
        }
    }
/** 
.section1 {
    .bg {
        width: 40px;
        height: 300px;
        background-image: url(../../Recursos/original\ principal.png\);
    }
}


    .formlist {
        display: flex;
        flex-direction: column;
        margin: 6px;
        align-items: center;
    }

    .right-placement {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .autos-box {
        display: flex;
        margin: 80px;
        flex-direction: column;
    }
    .container-autos {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img-autos {
        width: 50px;
        margin: 10px;
    }
       
} **/
